<center style="min-width: 580px; width: 100%">
  <table
    class="row collapsed footer"
    style="
      border-collapse: collapse;
      border-spacing: 0;
      padding: 0;
      position: relative;
      text-align: left;
      vertical-align: top;
      width: 100%;
    "
  >
    <tbody>
      <tr style="padding: 0; text-align: left; vertical-align: top">
        <th
          class="small-12 large-12 columns first last"
          style="
            color: #0a0a0a;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            margin: 0 auto;
            padding: 0;
            padding-bottom: 16px;
            padding-left: 16px;
            padding-right: 16px;
            text-align: left;
            width: 564px;
          "
        >
          <table
            style="
              border-collapse: collapse;
              border-spacing: 0;
              padding: 0;
              text-align: left;
              vertical-align: top;
              width: 100%;
            "
          >
            <tbody>
              <tr style="padding: 0; text-align: left; vertical-align: top">
                <th
                  style="
                    color: #0a0a0a;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                  "
                >
                  <table
                    class="spacer"
                    style="
                      border-collapse: collapse;
                      border-spacing: 0;
                      padding: 0;
                      text-align: left;
                      vertical-align: top;
                      width: 100%;
                    "
                  >
                    <tbody>
                      <tr
                        style="
                          padding: 0;
                          text-align: left;
                          vertical-align: top;
                        "
                      >
                        <td
                          style="
                            -moz-hyphens: auto;
                            -webkit-hyphens: auto;
                            border-collapse: collapse !important;
                            color: #0a0a0a;
                            font-family: Helvetica, Arial, sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            hyphens: auto;
                            line-height: 16px;
                            margin: 0;
                            mso-line-height-rule: exactly;
                            padding: 0;
                            text-align: left;
                            vertical-align: top;
                            word-wrap: break-word;
                          "
                          height="16px"
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                  <p
                    class="text-center"
                    style="
                      color: #0a0a0a;
                      font-family: Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 1.3;
                      margin: 0;
                      margin-bottom: 10px;
                      padding: 0;
                      text-align: center;
                    "
                  >
                    @<%- Names[0].productName %> <br /><a
                      href="mailto:ayuda@c<%- Links[0].hostShort %>"
                      style="
                        color: #2199e8;
                        font-family: Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        line-height: 1.3;
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        text-decoration: none;
                      "
                      >Ayuda</a
                    >
                    |
                    <a
                      href="mailto:info@<%- Links[0].hostShort %>"
                      style="
                        color: #2199e8;
                        font-family: Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        line-height: 1.3;
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        text-decoration: none;
                      "
                      >Información</a
                    >
                    |
                    <a
                      href="https://<%- Links[0].hostShort %>:3012/newsletter/unsuscribe/<%- Links[0].emailClient %>"
                      style="
                        color: #2199e8;
                        font-family: Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        line-height: 1.3;
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        text-decoration: none;
                      "
                      >Desuscribirse</a
                    >
                  </p>
                  <center data-parsed="" style="min-width: 532px; width: 100%">
                    <table
                      class="menu float-center"
                      style="
                        border-collapse: collapse;
                        border-spacing: 0;
                        float: none;
                        margin: 0 auto;
                        padding: 0;
                        text-align: center;
                        vertical-align: top;
                        width: auto !important;
                      "
                      align="center"
                    >
                      <tbody>
                        <tr
                          style="
                            padding: 0;
                            text-align: left;
                            vertical-align: top;
                          "
                        >
                          <td
                            style="
                              -moz-hyphens: auto;
                              -webkit-hyphens: auto;
                              border-collapse: collapse !important;
                              color: #0a0a0a;
                              font-family: Helvetica, Arial, sans-serif;
                              font-size: 16px;
                              font-weight: 400;
                              hyphens: auto;
                              line-height: 1.3;
                              margin: 0;
                              padding: 0;
                              text-align: left;
                              vertical-align: top;
                              word-wrap: break-word;
                            "
                          >
                            <table
                              style="
                                border-collapse: collapse;
                                border-spacing: 0;
                                padding: 0;
                                text-align: left;
                                vertical-align: top;
                                width: 100%;
                              "
                            >
                              <tbody>
                                <tr
                                  style="
                                    padding: 0;
                                    text-align: left;
                                    vertical-align: top;
                                  "
                                >
                                  <% if (Links[0].twitter) { %>
                                  <th
                                    class="menu-item float-center"
                                    style="
                                      color: #0a0a0a;
                                      float: none;
                                      font-family: Helvetica, Arial, sans-serif;
                                      font-size: 16px;
                                      font-weight: 400;
                                      line-height: 1.3;
                                      margin: 0 auto;
                                      padding: 20px;
                                      padding-right: 10px;
                                      text-align: center;
                                    "
                                  >
                                    <a
                                      href="<%- Links[0].twitterLink %> "
                                      target="_blank"
                                      style="
                                        color: #2199e8;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        line-height: 1.3;
                                        margin: 0;
                                        padding: 0;
                                        text-align: left;
                                        text-decoration: none;
                                      "
                                      ><img
                                        src="<%- Links[0].linkImgTw %> "
                                        alt="Twitter"
                                        style="
                                          -ms-interpolation-mode: bicubic;
                                          border: none;
                                          clear: both;
                                          display: block;
                                          max-width: 100%;
                                          outline: 0;
                                          text-decoration: none;
                                          width: 50px;
                                        "
                                    /></a>
                                  </th>
                                  <% } %> <% if (Links[0].facebook) { %>
                                  <th
                                    class="menu-item float-center"
                                    style="
                                      color: #0a0a0a;
                                      float: none;
                                      font-family: Helvetica, Arial, sans-serif;
                                      font-size: 16px;
                                      font-weight: 400;
                                      line-height: 1.3;
                                      margin: 0 auto;
                                      padding: 20px;
                                      padding-right: 10px;
                                      text-align: center;
                                    "
                                  >
                                    <a
                                      href="<%- Links[0].facebookLink %> "
                                      target="_blank"
                                      style="
                                        color: #2199e8;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        line-height: 1.3;
                                        margin: 0;
                                        padding: 0;
                                        text-align: left;
                                        text-decoration: none;
                                      "
                                      ><img
                                        src="<%- Links[0].linkImgFb %> "
                                        alt="Facebook"
                                        style="
                                          -ms-interpolation-mode: bicubic;
                                          border: none;
                                          clear: both;
                                          display: block;
                                          max-width: 100%;
                                          outline: 0;
                                          text-decoration: none;
                                          width: 50px;
                                        "
                                    /></a>
                                  </th>
                                  <% } %> <% if (Links[0].instagram) { %>
                                  <th
                                    class="menu-item float-center"
                                    style="
                                      color: #0a0a0a;
                                      float: none;
                                      font-family: Helvetica, Arial, sans-serif;
                                      font-size: 16px;
                                      font-weight: 400;
                                      line-height: 1.3;
                                      margin: 0 auto;
                                      padding: 20px;
                                      padding-right: 10px;
                                      text-align: center;
                                    "
                                  >
                                    <a
                                      href="<%- Links[0].instagramLink %> "
                                      target="_blank"
                                      style="
                                        color: #2199e8;
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-weight: 400;
                                        line-height: 1.3;
                                        margin: 0;
                                        padding: 0;
                                        text-align: left;
                                        text-decoration: none;
                                      "
                                      ><img
                                        src="<%- Links[0].linkImgIg %> "
                                        alt="Instagram"
                                        style="
                                          -ms-interpolation-mode: bicubic;
                                          border: none;
                                          clear: both;
                                          display: block;
                                          max-width: 100%;
                                          outline: 0;
                                          text-decoration: none;
                                          width: 50px;
                                        "
                                    /></a>
                                  </th>
                                  <% } %>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </center>
                </th>
                <th
                  class="expander"
                  style="
                    color: #0a0a0a;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    margin: 0;
                    padding: 0 !important;
                    text-align: left;
                    visibility: hidden;
                    width: 0;
                  "
                ></th>
              </tr>
            </tbody>
          </table>
        </th>
      </tr>
    </tbody>
  </table>
</center>
