<tr>
  <td class="no"><%- itemId %></td>
  <td class="desc"><h3><%- itemName %></h3></td>
  <td class="unit">$<%- itemPrice %></td>
  <td class="qty"><%- itemCant %></td>
  <td class="total">$<%- itemTotal %></td>
</tr>
