<table
  class="button large secondary"
  style="
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 16px 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: auto;
  "
>
  <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top">
      <td
        style="
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          border-collapse: collapse !important;
          color: #0a0a0a;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 16px;
          font-weight: 400;
          hyphens: auto;
          line-height: 1.3;
          margin: 0;
          padding: 0;
          text-align: left;
          vertical-align: top;
          word-wrap: break-word;
        "
      >
        <table
          style="
            border-collapse: collapse;
            border-spacing: 0;
            padding: 0;
            text-align: left;
            vertical-align: top;
            width: 100%;
          "
        >
          <tbody>
            <tr style="padding: 0; text-align: left; vertical-align: top">
              <td
                style="
                  -moz-hyphens: auto;
                  -webkit-hyphens: auto;
                  background: <%= Colors[0].primary %>;
                  border: 2px solid <%= Colors[0].primary %>;
                  border-collapse: collapse !important;
                  color: <%= Colors[0].fontBg %>;
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 16px;
                  font-weight: 400;
                  hyphens: auto;
                  line-height: 1.3;
                  margin: 0;
                  padding: 0;
                  text-align: left;
                  vertical-align: top;
                  word-wrap: break-word;
                "
              >
                <a
                  href="<%= redirectButton %>"
                  target="_blank"
                  style="
                    border: 2px solid <%= Colors[0].primary %>;
                    border-radius: 3px;
                    color: <%= Colors[0].fontBg %>;
                    display: inline-block;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.3;
                    margin: 0;
                    padding: 10px 20px 10px 20px;
                    text-align: left;
                    text-decoration: none;
                  "
                  ><%= textButton %></a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
